<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	 <title>DEMO</title>
</head>

<body>

<div class = container>
	<h3>Employee Directory</h3>
	<hr>
	
	<!--  Adding a button to insert employee data -->
	<a th:href="@{/employees/showFormForAdd}"
			class ="btn btn-primary btn-sm mb-6"> 
	Add Employee 
	</a>
	<!--  insert employee button logic ended -->
	
	<table class="table table-bordered table-striped"> 
		<thead class="thead-dark">
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Action</th>
				
			</tr>	
		</thead>
			<tr th:each="tempEmployee: ${employees}">
				<td th:text="${tempEmployee.firstname}"/>
				<td th:text="${tempEmployee.lastname}"/>
				<td th:text="${tempEmployee.email}"/>	
				<td>
					<!-- Add update button -->
					<a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.empid})}"
							class="btn btn-info btn-sm">
							Update
					</a>
					
					<!-- Add Delete button -->
					<a th:href="@{/employees/delete(employeeId=${tempEmployee.empid})}"
							class="btn btn-danger btn-sm"
							onclick="if(!(confirm('Are You Sure To Delete'))) return false">
							Delete
					</a>
						
				</td>
			</tr>
		<tbody> 
		</tbody>
	</table>
	
</div>	
</body>

</html>